numpy==1.26.0
nd2==0.10.1
pandas==2.2.1
matplotlib==3.9.3
torch==2.5.1
torchvision==0.20.1
tqdm==4.67.1
monai==1.4.0
opencv-python==4.10.0.84
omegaconf==2.3.0
tensorboard==2.18.0  
#comdet
pyimagej==1.5.0 
scyjava==1.10.0
